body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

form {
  margin: 0;
}

/* Main sections */
div#header {
  background-color: #000;
  color: #F8F8F8;
  margin-bottom: 10px;
}

div#header h1 {
  margin: 0;
  padding: 16px 20px;
  letter-spacing: -3px;
  font-size: 26px;
  font-family: Monospace, "Courier New";
}
div#header h1 a {
  text-decoration: none;
  color: #F8F8F8;
}
.Symbol {
   color: #3387CC;
}
.Class {
   color: #ee5C2E;
}
.String {
   color: #65B042;
}

ul#menu {
  border-top: solid 1px #333;
  border-bottom: solid 1px #666;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #222;
  padding: 6px;
}
ul#menu li {
  display: inline;
}
ul#menu li.first {
  margin-left: 10px;
}
ul#menu li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 6px;
  padding-left: 26px;
  background-repeat: no-repeat;
  background-position: 6px 6px;
}
ul#menu li a:hover, ul#menu li a.active {
  background-color: #333;
}

/* Icons */
a.browse        { background-image: url(/images/browse.png) }
a.codes         { background-image: url(/images/browse.png) }
a.popular       { background-image: url(/images/heart.png) }
a.refactorings  { background-image: url(/images/comments.png) }
a.best          { background-image: url(/images/star.png) }
a.submit        { background-image: url(/images/add.png) }
a.spam          { background-image: url(/images/thumb_down.png) }
a.account       { background-image: url(/images/user.png) }
a.friends       { background-image: url(/images/friends.png) }
a.add_friend    { background-image: url(/images/friend_add.png) }
a.remove_friend { background-image: url(/images/friend_delete.png) }
a.logout        { background-image: url(/images/delete.png) }
a.login         { background-image: url(/images/user.png) }
a.edit          { background-image: url(/images/edit.png) }
a.comments      { background-image: url(/images/comments.png) }
a.add_comment   { background-image: url(/images/add_comment.png) }
a.paste         { background-image: url(/images/paste.png) }
a.tag           { background-image: url(/images/tag.png) }
a.email         { background-image: url(/images/email.png) }


div#container {
  padding: 0 10px;
}

div#content {
  margin-right: 10px;
  background-color: #fff;
  border: solid 1px #ccc;
  padding: 16px;
  overflow: hidden;
  min-height: 500px;
}

div#banner {
  background-color: #eef;
  margin: -16px;
  padding: 16px;
  padding-bottom: 26px;
  margin-bottom: 10px;
}

body#codes #banner,
body#users #banner,
body#account #banner {
  min-height: 76px;
}

div#sidebar {
  float: right;
  width: 190px;
  z-index: 9999;
  position: relative;
}
div#sidebar, x:-moz-any-link, x:default { margin-left: 9px; }

#sidebar h2 {
  margin: 0 -10px;
  margin-bottom: 4px;
  padding: 2px 10px;
  font-size: 12px;
  background-color: #ccc;
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
}

#sidebar ul.codes {
  list-style: none outside url(/images/bullet.png);
  margin: 0;
  margin-left: 16px;
  padding: 0;
  margin-bottom: 10px;
}
#sidebar ul.codes li {
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 12px;
}
#sidebar ul.codes li a {
  position: relative;
  top: -4px;
  left: -6px;
}

#sidebar ul.languages {
  list-style: none;
  margin: 0;
  padding: 0;
  left: -6px;
  position: relative;
  margin-bottom: 10px;
}
#sidebar ul.languages li {
  margin: 0;
  padding: 0;
}
#sidebar ul.languages li a {
  margin: 2px 0;
  margin-left: -4px;
  padding: 2px;
  padding-left: 12px;
  margin-right: 6px;
  font-size: 10px;
  text-decoration: none;
  color: #fff;
  display: block;
}
#sidebar ul.languages li a.active {
  background-color: #000;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 12px;
  margin-right: 0;
}

#footer {
  text-align: center;
  font-size: 10px;
  color: #999;
}
#footer a {
  color: #999;
}

#notice, #error {
  color: #fff;
  font-weight: bold;
  padding: 4px 16px;
  margin: -16px;
  margin-bottom: -10px;
  position: relative;
  z-index: 9999;
}
#notice {
  background-color: #090;
  float: left;
}
.notice {
  background-color: #090;
  color: #fff;
  font-weight: bold;
  padding: 6px 10px;
}
#error { background-color: #900; }


/* Common tags */
h1 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 6px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
  font-size: 11px;
  color: #666;
}

label {
  font-size: 11px;
  color: #666;
}

input#identity_url {
  background: url(http://openid.net/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}

textarea {
  width: 98%;
}

/* Pagination */
.pagination {
  margin: 10px 0;
}
.pagination a, .pagination span {
  padding: 3px;
  border: solid 1px;
}
.pagination a {
  text-decoration: none;
  border-color: #666;
}
.pagination span {
  background-color: #eee;
  border-color: #ccc;
  color: #666;
}

/* Main blocks */
ul.codes {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.codes li {
  padding: 5px;
}

.badge {
  position: relative;
  padding: 10px 14px 6px 14px;
  border-right: solid 1px #eee;
  border-bottom: solid 1px #eee;
  margin-bottom: 10px;
  margin-left: 105px;
  background-color: #eef;
  min-height: 84px;
}
.badge h1 {
  margin: 0;
  letter-spacing: -2px;
  min-height: 21px;
}
.badge .code {
  width: 200px;
  height: 85px;
  overflow: hidden;
  float: right;
  margin-top: -3px;
}
.badge .avatar {
  float: left;
  position: relative;
  margin-left: -120px;
  margin-top: -85px;
}
.badge .talk {
  float: left;
  position: relative;
  margin-left: -34px;
  background-color: #eef;
  margin-top: -36px;
}
.badge .rating img {
  position: relative;
  margin-top: -3px;
  top: 3px;
  height: 15px;
  width: 15px;
}
.badge .content {
  margin-right: 220px;
  min-height: 84px;
}

.clear {
  clear: left;
}

.refactor {
  border-bottom: dotted 1px #ccc;
  padding: 10px 0;
}

body#refactors .refactor {
  padding: 6px;
}

ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.nav li {
  display: inline;
  margin-right: 2px;
}
ul.nav li a {
  padding-left: 19px;
  background-repeat: no-repeat;
  background-position: 0px;
}

#stats {
  margin: 14px 0;
  background-color: #eef;
  border: solid 1px #eee;
  padding: 1px;
}
#stats ul {
  margin: 0;
  padding: 4px 10px;
  list-style: square inside;
  font-size: 12px;
}


/* Languages */
.language {
  letter-spacing: -1.5px;
  font-size: 12px;
  padding: 1px 2px;
  padding-right: 3px;
  position: relative;
  top: -2px;
  border: solid 1px #ccc;
  color: #fff;
}
.all { background-color: #333 }
.php { background-color: #730 }
.ruby { background-color: #900 }
.javascript { background-color: #009 }
.python { background-color: #060 }
.java { background-color: #706 }
.perl { background-color: #123 }
.c { background-color: #aa3 }
.cpp { background-color: #6a6 }
.cs { background-color: #08f }
.vb { background-color: #80f }
.lisp { background-color: #663 }
.erlang { background-color: #600 }
.haskell { background-color: #088 }
.bash { background-color: #336 }
.actionscript { background-color: #f40 }
.delphi { background-color: #f66 }


/* Rating */
.rating {
  
}
.rating img {
  border: 0;
  width: 20px;
  height: 20px;
}
.rating img.spinner {
  width: inherit;
  position: relative;
  top: 0px;
}
.rating .count {
  font-size: 11px;
  color: #666;
  position: relative;
  top: -5px;
}


/* Common classes */
a.cancel { color: #f00; }
a.cancel:hover { color: #fff; background-color:#f00; }

.error { color: #f00; }

.even { background-color: #eef }

.comment, .website {
  padding-left: 6px;
}

.avatar {
  float: right;
  border: solid 1px #ccc;
  margin: 0 16px;
  padding: 1px;
  background-color: #fff;
  position: relative;
  z-index: 999;
}
.avatar .position {
  font-size: 10px;  
}
.avatar.blank {
  width: 80px;
  text-align: center;
  font-size: 10px;
  padding: 18px 4px;
}

.info {
  font-size: 11px;
  margin-bottom: 6px;
  color: #666;
  padding-left: 18px;
  background: url(/images/time.png) no-repeat 0px 1px;
}

.position {
  text-align: center;
  float: right;
  padding: 1px;
  background: #000;
  color: #666;
  height: 76px;
  min-width: 80px;
  margin: 2px;
}
.position strong {
  font-size: 40px;
  padding: 18px 0 8px 0;
  margin: 2px;
  display: block;
  color: #fff;
  background: #222;
}
.position em {
  font-size: 10px;
  position: relative;
  top: -20px;
}
.position span {
  position: relative;
  top: -2px;
  font-size: 10px;
}

.help {
  font-size: 10px;
  color: #666;
}

.side_actions {
  float: right;
  font-size: 11px;
}

.spinner {
  position: relative;
  top: 6px;
}

.action {
  float: right;
  font-size: 10px;
  padding: 0 4px;
}

.ad {
  padding: 2px;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-size: 10px;
  border: solid 1px #ccc;
  background-color: #fff;
}
.ad p {
  margin: 0;
  padding: 4px;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 6px;
}

#sidebar .search {
  border: solid 1px #aaa;
  background-color: #ccc;
  padding: 6px;
  margin-bottom: 10px;
  font-size: 10px;
}
#sidebar .search input {
  font-size: 10px;
}
#sidebar .search #q {
  width: 114px;
}
#sidebar .search input.button {
  padding: 0;
}

ul.friends {
  list-style: none;
  padding: 0;
  min-height: 20px;
}
ul.friends li {
  display: inline;
}
ul.friends li img {
  border: solid 1px #ccc;
  padding: 1px;
  background-color: #fff;
}

/* Autocomplete */
div.autocomplete {
  position: absolute;
  width: 250px;
  background-color: white;
  border: 1px solid #888;
  margin: 0;
  padding: 0;
}
div.autocomplete ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 2px;
  cursor: pointer;
}