<% @title = 'Submit your code' %>
<h1><%=h @title %></h1>

<%#= error_messages_for :code %>

<% form_for(:code, :url => codes_path) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag "Create", :disable_with => 'Creating ...' %>
  </p>
<% end %>
